<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="музыкальный магазин, гитара, fender">
  <meta name="description"
    content="Интернет-магазин LMARKT – это доступные цены, широкий, регулярно обновляемый ассортимент. В онлайн-каталоге LMARKT представлено около 35 000 ведущих брендов женской, мужской и детской одежды и обуви. Покупателям предлагается электроника, книжная продукция, детские товары. В интернет-магазине можно приобрести продукциюдля дома, продукты питания, товары для красоты, ювелирные изделия, игрушки. Для удобства Пользования">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body class="body">

  {% include "../includes/header.html" %}

  {% block content %}
  {% endblock %}

  {% include "../includes/footer.html" %}

</body>

</html>