.footer-wrap {
  background-color: $outline;
}
.phone {
  font-size: 22px;
  font-weight: 700;
}
.footer {
  opacity: 0.5;
  color: $black;
}
@include media-down(lg) {
  .footer {
    &__down {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
}
.none {
  display: none;
}
.app {
  display: flex;
  justify-content: space-around;
}
.gplay {
  padding-top: 3px;
}
}
@include media-up(lg) {
  .footer {
    display: grid;
    grid-template-rows: auto auto;
    margin-left: 20px;
    &__top {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }
    &__items {
      display: flex;
      flex-direction: column;
    }
    &__b-tittle {
      font-size: 22px;
      font-weight: 700;
      margin: 20px 0;
      
    }
    &__item {
      line-height: 33px;
    }
    &__link {
      color: $black;
    }
    &__down {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
    }
  }
}