@include media-down(lg) {
.footer-wrap {
  background-color: $outline;
}
.footer {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 20px;
  &__top {
    padding: 20px 20px 0px 20px;
  }
  &__column {
    display: flex;
    flex-direction: column;
  }
  &__column-sm {
    border-left: 1px solid $footer-outline;
    border-right: 1px solid $footer-outline;
  }
  &__column-sm:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 1px solid $footer-outline;
  }
  &__column-sm:nth-child(2) {
    border-top: 1px solid $footer-outline;
    border-bottom: 1px solid $footer-outline;
  }
  &__column-sm:nth-child(3) {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid $footer-outline;
  }
  &__tittle {
    position: relative;  
    font-size: 1em;
    font-weight: 600;
    padding: 10px 20px;
    width: 100%;
    opacity: 0.5;  
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    box-sizing: border-box;
    cursor: pointer;
  }
  &__tittle::after {
    width: 7px;
    height: 7px;
    border-bottom:  2px solid $black;
    border-right:  2px solid $black;
    border-top:  2px solid $footer-outline-button;
    border-left:  2px solid $footer-outline-button;
    position: absolute;
    content: "";
    background-color: inherit;
    transform: rotate(225deg);
    top: 17px;
    right: 10px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    margin-right: 10px;
  }
  &__item {
    font-size: 0.8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    padding-left: 20px;
  }
  &__link {
    color: $black;
    opacity: 0.5;
    white-space: nowrap;
  }
  &__link:hover {
    color: $hover;
    opacity: 1;
  }
  &__img {
    opacity: 0.5;
  }
  &__img:hover {
    opacity: 1;
  }
  &__down {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  &__down-item {
    // display: flex;
    margin-bottom: 15px;
  }
}
.app {
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px 0;
  &__img {
    opacity: 0.7;
    width: 100px;
  }
  &__img-correct {
    margin-top: 3.5px;
  }
  &__img:hover  {
    opacity: 1;
  }
}
.copyright {
  font-size: 0.8em;
  font-family: 'Open Sans', sans-serif;
}
.phone-down {
  opacity: 0.5;
  margin-bottom: 10px;
  font-size: 1.5em; 
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  line-height: 15px;
  color: $black;
}
.phone-down:hover {
  opacity: 1;
}
.copyright {
  opacity: 0.5;
}
.social {
  display: flex;
  &__item {
    height: 30px;
    width: 30px;
    display: flex;
  }
  &__link {
    height: 30px;
    width: 30px;
    position: relative;
  }
  &__link::after,
  &__link::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-repeat: no-repeat;
    background-position: 50%;
  }
  &__link--vk::after {
    background-image: url(../img/vk-color.svg);
    opacity: 0;
    transition: 0.4s;
  }
  &__link--vk::before {
    background-image: url(../img/vk-black.svg);
    opacity: 0.15;
    transition: 0.4s;
  }
  &__link--vk:hover::after {
    opacity: 1;
    transition: 0.4s;
  }
  &__link--fb::after {
    background-image: url(../img/fb-color.svg);
    opacity: 0;
    transition: 0.4s;
  }
  &__link--fb::before {
    background-image: url(../img/fb-black.svg);
    opacity: 0.15;
    transition: 0.4s;
  }
  &__link--fb:hover::after {
    opacity: 1;
    transition: 0.4s;
  }
  &__link--ins::after {
    background-image: url(../img/ins-color.svg);
    opacity: 0;
    transition: 0.4s;
  }
  &__link--ins::before {
    background-image: url(../img/ins-black.svg);
    opacity: 0.15;
    transition: 0.4s;
  }
  &__link--ins:hover::after {
    opacity: 1;
    transition: 0.4s;
  }
  &__link--tg::after {
    background-image: url(../img/tg-color.svg);
    opacity: 0;
    transition: 0.4s;
  }
  &__link--tg::before {
    background-image: url(../img/tg-black.svg);
    opacity: 0.15;
    transition: 0.4s;
  }
  &__link--tg:hover::after {
    opacity: 1;
    transition: 0.4s;
  }
}
.sm-none {
  display: none;
}
}
@include media-up(lg) {
.footer-wrap {
  background-color: $outline;
}
.footer {
  display: grid;
  grid-template-rows: auto auto;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  &__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
  &__items {
    display: flex;
    flex-direction: column;
  }
  &__tittle {
    font-size: 1.4em;
    font-weight: 700;
    margin: 20px 0;
    opacity: 0.5;  
    padding: 0;
  }
  &__item {
    line-height: 33px;
    margin-bottom: 5px;
  }
  &__link {
    color: $black;
    opacity: 0.5;
    font-size: 1em;
  }
  &__link:hover {
    color: $hover;
    opacity: 1;
  }
  &__down {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-top: 30px;
  }
}
.app {
  &__link {
    opacity: 0.7;
  }
  &__link:hover {
    opacity: 1;
  }
  &__img {
    height: 100%;
    width: auto;
  }
}
.phone-down {
  opacity: 0.5;
  margin: 0;
}
.copyright {
  opacity: 0.5;
  font-size: 1em;
}
.lg-none {
  display: none;
}
}
