@include media-down(lg) {
  .catalog, .profile, .smal-none, .menu, .info-menu, .header__social, .header__phone-text {
    display: none;
  }
  .header {
    display: grid;
    grid-template-areas: 
    "a a a a"
    "e e f f"
    "g g g g";
    &__block {
      grid-area: a;
    }
    &__logo {
      grid-area: e;
    }
    &__location {
      grid-area: f;
      justify-self: end;
    }
    &__search {
      grid-area: g;
      margin: 0px 20px 20px 20px;
    }
  }
  .icon-menu {
    // width: 18px;
    // height: 16px;
    // stroke: $general;
    stroke-width: 1.5px;
  }
  .icon-phone {
    // width: 21px;
    // height: 22px;
    stroke: initial;
    fill: $general;
  }
  .icon-profile {
    // width: 18px;
    // height: 21px;
    // stroke: $general;
    stroke-width: 1.2px;
    fill: white;
  }
  .icon-market {
    // width: 23px;
    // height: 20px;
    fill: white;
    // stroke: $general;
    stroke-width: 1.3px;
    &__count {
      position: absolute;
      width: auto;
      min-width: 11px;
      height: 10px;
      border-radius: 5px;
      background-color: $general;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-weight: 700;
      font-size: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 9px;
      right: 32px;
      box-shadow: 0px 0px 0px 1px $outline;
    }
  }
  .sm-top {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    background-color: $outline;
    &__link {
    display: grid;
    justify-items: center;
    align-content: space-around;
    font-size: 0.6em;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    stroke: $general;
    color: $general;
    height: 40px;
    }
    &__text {
      opacity: 0.6;
      margin-top: 5px;
    }
    &__link:hover {
      stroke: $hover;
    }
    &__link:hover .icon-market__count {
      background-color: $hover;
    }
    &__link:hover .icon-phone {
      fill: $hover;
    }
    &__link:hover &__text {
      opacity: 1;
      color: $hover;
    }
  }
  .logo {
    padding: 10px 20px;
    &__img {
      fill: $general;
      // width: 90px;
      // height: 20px;
    }
  }
  .location {
    padding: 5px 20px;
    box-sizing: border-box;
    &__name {
      border: 0;
      outline: none;
      background-color: inherit;
      position: relative;  
      font-size: 1em;
      font-weight: 700;
      color: $general;
      text-align: left;
      padding: 5px 20px;
      cursor: pointer;
      box-sizing: border-box;
    }
    &__name::after {
      position: absolute;
      content: "";
      background-color: inherit;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      border-bottom:  2px solid $general;
      border-right:  2px solid $general;
      top: 30%;
      right: 4px;
    }
  }
  .search {
    position: relative;
    &__input {
      width: 100%;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      border: 3px solid $border-search;
      padding: 10px 30px 10px 20px;
      background-color: $outline;
      color: $general;
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.9em;
    }
    &__input:hover {
      background-color: $search-fild;
    }
    &__link {
      position: absolute;
      right: 10px;
      top: 20%;
      padding: 5px;
      stroke: $general;
    }
    &__link:hover {
      stroke: $hover;
    }
    .icon-search {
      // width: 14px;
      // height: 15px;
      fill: $outline;
      stroke-width: 1.5px;
    }
  }
  .catalog-link {
    padding-left: 20px;
    padding-right: 15px;
  }
  .baying-img {
    position: relative;
    padding-right: 20px;
    padding-left: 15px;
  }
  .phone-img {
    white-space: nowrap;
  }
}
@include media-up(lg) {
  .header {
    display: grid;
    grid-template-rows: auto 15px auto;
    grid-template-areas: 
    "a . i i i i i i i i i n n"
    ". . . . . . . . . . . . ."
    "b c d d d d e e e k k k k";
    font-family: 'Open Sans', sans-serif;
    position: relative;
    &__location {
      grid-area: a;
    }
    &__logo {
      grid-area: b;
    }
    &__block {
      grid-area: c;
    }
    &__search {
      grid-area: d;
      align-self: center;
    }
    &__phone-text {
      grid-area: e;
      justify-self: center;
      align-self: center;
    }
    &__info {
      grid-area: i;
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-between;
    }
    &__social {
      grid-area: n;
      justify-self: end;
      align-self: center;
    }
    &__menu {
      grid-area: k;
    }
  }
  .location {
    display: grid;
    &__name {
      border: 0;
      outline: none;
      background-color: inherit;
      position: relative;  
      font-size: 1em;
      font-weight: 700;
      color: $general;
      padding: 5px 20px 5px 0px;
      cursor: pointer;
      justify-self: start;
      align-self: center;
    }
    &__name::after {
      position: absolute;
      content: "";
      background-color: inherit;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      border-bottom:  2px solid $general;
      border-right:  2px solid $general;
      top: 9px;
      right: 5px;
    }
  }
  .sm-top {
    z-index: 4;
    &__link {
      width: 141px;
      height: 45px;
      background-color: $general;
      border-radius: 3px;
      display: grid;
      grid-template-columns: auto auto;
      justify-content: center;
      align-content: center;
      margin: 0 10px;  
      z-index: 4;
    }
    &__icon {
      align-self: center;
      margin-right: 11px;
      z-index: 4;
    }
    &__text {
      font-size: 1em;
      font-weight: bold;
      color: #ffffff;
      align-self: center;
      z-index: 4;
    }
  }
  .catalog-link:hover {
    background-color: $hover;
  }
  .icon-catolog {
    width: 15px;
    height: 15px;
    stroke: #ffffff;
    stroke-width: 3px;
  }
  .icon-menu-open {
    width: 15px;
    height: 15px;
    stroke: $general;
    stroke-width: 3px;
  }
  .menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 
    "o p r s";
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    &__baying {
      grid-area: s;
    }
    &__profile {
      grid-area: r;
    }
    &__contrast {
      grid-area: p;
    }
    &__favor {
      grid-area: o;
    }
    &__link {
      display: grid;
      font-size: 0.7em;
      justify-items: center;
      align-content: space-around;
      position: relative;
      stroke: $general;
      fill: $general;
      height: 45px;
    }
    &__link:hover {
      stroke: $hover;
      fill: $hover;
    }
    &__name {
      opacity: 0.6;
      color: $general;
      // margin-top: 5px;
    }
    &__link:hover &__name {
      opacity: 1;
      color: $hover;
    }
    &__link:hover .icon-market__count {
      background-color: $hover;
    }
  }
  .logo {
    &__img {
      fill: $general;
      width: 155px;
      height: 35px;
    }
  }
  .search {
    position: relative;
    &__input {
      width: 100%;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      border: 3px solid $border-search;
      padding: 10px 30px 10px 15px;
      background-color: $outline;
      color: $general;
      box-sizing: border-box;
    }
    &__input:hover {
      background-color: $search-fild;
    }
    &__link {
      position: absolute;
      right: 3%;
      top: 5px;
      padding: 5px;
      stroke: $general;
    }
    &__link:hover {
      stroke: $hover
    }
    &__link:focus {
      outline: none;
    }
    .icon-search {
      width: 13px;
      height: 14px;
      fill: $outline;
      stroke-width: 1.5px;
    }
    .icon-search:hover {
      stroke: $hover;
    }
  }
  .info-menu {
    font-size: 0.9em;
    align-items: center;

    &__link {
      color: $black;
      opacity: 0.3;
      padding: 5px;
      white-space: nowrap;
    }
    &__link:hover {
      color: $hover;
      opacity: 1;
    }
  }
  .icon-menu {
    width: 18px;
    height: 15px;
  }
  .icon-profile {
    width: 23px;
    height: 20px;
    stroke-width: 1.2px;
    fill: #ffffff;
  }
  .icon-market {
    width: 23px;
    height: 20px;
    position: relative;
    fill: #ffffff;
    &__count {
      position: absolute;
      width: auto;
      min-width: 11px;
      height: 11px;
      border-radius: 5px;
      background-color: $general;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-weight: 700;
      font-size: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -1px;
      right: 15px;
      box-shadow: 0px 0px 0px 1px $outline;
    }
  }
  .icon-contrast {
    width: 23px;
    height: 20px;
    stroke-width: 1.5px;
  }
  .icon-favor {
    width: 23px;
    height: 20px;
    stroke: initial;
  }
  .profile, .big-none {
    display: none;
  }
}