@include media-down(lg) {
  .svg {
    fill: currentColor;
  }
  .header {
    display: grid;
    grid-template-areas: 
    "top top"
    "logo location"
    "search search";
    &__block {
      grid-area: top;
    }
    &__logo {
      grid-area: logo;
    }
    &__location {
      grid-area: location;
      justify-self: end;
    }
    &__search {
      grid-area: search;
    }
  }
  .sm-top {
    display: flex;
    justify-content: space-between;
    background-color: $outline;
    &__item {
    text-align: center;
    font-size: 0.6em;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    color: $general;
    background-color: inherit;
    border: none;
    cursor: pointer;
    }
    &__item:hover {
      color: $hover;
    }
    &__text {
      opacity: 0.6;
      margin-top: 5px;
      display: block;
      white-space: nowrap;
    }
    &__item:hover &__text {
      opacity: 1;
      color: $hover;
    }
    &__icon {
      width: 30px;
      height: 20px;
    }
    &__item:hover .icon-market__count {
      background-color: $hover;
    }
  }
  .logo {
    padding: 10px 20px;
    &__img {
      fill: $general;
      width: 90px;
      height: 20px;
    }
  }
  .location {
    padding: 5px 20px;
    box-sizing: border-box;
    &__name {
      border: 0;
      outline: none;
      background-color: inherit;
      position: relative;  
      font-size: 1em;
      font-weight: 700;
      color: $general;
      text-align: left;
      padding: 5px 20px;
      cursor: pointer;
      box-sizing: border-box;
    }
    &__name::after {
      position: absolute;
      content: "";
      background-color: inherit;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      border-bottom:  2px solid $general;
      border-right:  2px solid $general;
      bottom: 40%;
      right: 4px;
    }
  }
  .search {
    ::-webkit-input-placeholder {
      color: $general;
      opacity: 0.6;
    }
    margin: 0px 20px 0px 20px;
    position: relative;
    &__form {
      width: 100%;
      position: relative;
      color: $general;
      background-color: $outline;
      border-radius: 3px;
    }
    &__form:hover {
      background-color: $search-fild;
      color: $hover;
    }
    &__input {
      width: 100%;
      height: 100%;
      min-width: none;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      border: 3px solid $border-search;
      padding: 10px 35px 10px 20px;
      background-color: inherit;
      color: inherit;
      text-overflow: ellipsis;
      box-sizing: border-box;
      font-size: 0.9em;
    }
    &__submit {
      position: absolute;
      right: 5px;
      top: 5px;
      padding: 5px;
      width: 30px;
      height: 80%;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
    }
    &__icon {
      position: absolute;
      right: 15px;
      top: 13px;
      width: 15px;
      height: 15px;
      z-index: 1;
    }
  }
  .icon-market {
    &__count {
      position: absolute;
      width: auto;
      min-width: 11px;
      height: 10px;
      border-radius: 5px;
      background-color: $general;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-weight: 700;
      font-size: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 9px;
      right: 32px;
      box-shadow: 0px 0px 0px 1px $outline;
    }
  }
  .catalog-link {
    padding-left: 20px;
    padding-right: 15px;
  }
  .baying-img {
    position: relative;
    padding-right: 20px;
    padding-left: 15px;
  }
  .sm-none {
    display: none;
  }
}
@include media-up(lg) {
  .svg {
    fill: currentColor;
  }
  .header {
    display: grid;
    grid-template-rows: auto 15px auto;
    grid-template-areas: 
    "location info info info info info info info info info info social social"
    ". . . . . . . . . . . . ."
    "logo catalog search search search search phone phone phone menu menu menu menu";
    font-family: 'Open Sans', sans-serif;
    position: relative;
    &__location {
      grid-area: location;
    }
    &__logo {
      grid-area: logo;
      align-self: center;
    }
    &__block {
      grid-area: catalog;
      align-self: center;
    }
    &__search {
      grid-area: search;
      align-self: center;
    }
    &__phone-text {
      grid-area: phone;
      justify-self: center;
      align-self: center;
    }
    &__info {
      grid-area: info;
    }
    &__social {
      grid-area: social;
      justify-self: end;
      align-self: center;
    }
    &__menu {
      grid-area: menu;
    }
  }
  .location {
    box-sizing: border-box;
    &__name {
      border: none;
      outline: none;
      background-color: inherit;
      position: relative;  
      font-size: 1em;
      font-weight: 700;
      color: $general;
      padding: 5px 20px 5px 0px;
      cursor: pointer;
      box-sizing: border-box;
    }
    &__name::after {
      position: absolute;
      content: "";
      background-color: inherit;
      width: 6px;
      height: 6px;
      transform: rotate(45deg);
      border-bottom:  2px solid $general;
      border-right:  2px solid $general;
      bottom: 40%;
      right: 5px;
    }
  }
  .info-menu {
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    &__link {
      margin-right: 20px;
      color: $black;
      opacity: 0.3;
      padding: 5px;
      white-space: nowrap;
    }
    &__link:hover {
      color: $hover;
      opacity: 1;
    }
  }
  .social {
    display: flex;
    &__link {
      height: 30px;
      width: 30px;
      padding: 5px;
      display: flex;
    }
    &__tg {
      width: 20px;
      height: 17px;
      fill: $black;
      opacity: 0.15;
      justify-self: center;
      align-self: center;
    }
    &__link:hover &__tg {
      fill: #1E96C8;
      opacity: 1;
    }
    &__ins-black {
      width: 18px;
      height: 18px;
      fill: $black;
      opacity: 0.15;
      position: absolute;
      justify-self: center;
      align-self: center;
    }
    &__link:hover &__ins-black {
      display: none;
    }
    &__ins-color {
      width: 18px;
      height: 18px;
      opacity: 0;
      justify-self: center;
      align-self: center;
    }
    &__link:hover &__ins-color {
      opacity: 1;
    }
    &__vk {
      width: 23px;
      height: 13px;
      fill: $black;
      opacity: 0.15;
      justify-self: center;
      align-self: center;
    }
    &__link:hover &__vk {
      fill: #5282b8;
      opacity: 1;
    }
    &__fb {
      width: 18px;
      height: 18px;
      fill: $black;
      opacity: 0.15;
      justify-self: center;
      align-self: center;
    }
    &__link:hover &__fb {
      fill: #3b589e;
      opacity: 1;
    }
  }
  .logo {
    margin-right: 2vw;
    &__link {
      color: $general;
      width: 155px;
      height: 35px;
    }
    &__img {
      fill: currentColor;
      width: 100%;
      height: 100%;
    }
  }
  .sm-top {
    margin-right: 1vw;
    z-index: 4;
    &__item {
      width: 141px;
      height: 45px;
      background-color: $general;
      border-radius: 3px;
      border: none;
      color: $white;
      display: flex;
      justify-content: center; 
    }
    &__item:hover {
      background-color: $hover;
    }
    &__item:focus {
      outline: none;
    }
    &__icon {
      margin-right: 11px;
      z-index: 4;
      width: 15px;
      height: 15px;
      align-self: center;
     }
    &__text {
      font-size: 1.1em;
      font-weight: 700;
      align-self: center;
    }
  }
  .search {
    ::-webkit-input-placeholder {
      color: $general;
      opacity: 0.6;
    }
    &__form {
      width: 100%;
      position: relative;
      color: $general;
      background-color: $outline;
      border-radius: 3px;
    }
    &__form:hover {
      background-color: $search-fild;
      color: $hover;
    }
    &__input {
      width: 100%;
      height: 100%;
      min-width: none;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
      border: 3px solid $border-search;
      padding: 10px 35px 10px 15px;
      background-color: inherit;
      color: inherit;
      text-overflow: ellipsis;
      box-sizing: border-box;
    }
    &__submit {
      position: absolute;
      right: 1%;
      top: 5px;
      padding: 5px;
      width: 30px;
      height: 80%;
      opacity: 0;
      cursor: pointer;
      z-index: 2;
    }
    &__icon {
      position: absolute;
      right: 3.5%;
      top: 11px;
      width: 15px;
      height: 15px;
      z-index: 1;
    }
  }
  .phone {
    font-size: 1.3em;
    font-weight: 700;
    color: $black;
    white-space: nowrap;
    margin: 0 1vw;
  }
  .menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: "favor contrast profile baying";
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    &__baying {
      grid-area: baying;
    }
    &__profile {
      grid-area: profile;
    }
    &__contrast {
      grid-area: contrast;
    }
    &__favor {
      grid-area: favor;
    }
    &__link {
      display: grid;
      font-size: 0.7em;
      justify-items: center;
      align-content: space-around;
      position: relative;
      border: none;
      background-color: white;
      height: 45px;
      color: $general;
      cursor: pointer;
      margin-left: 1vw;
    }
    &__svg {
      width: 30px;
      height: 20px;
    }
    &__name {
      opacity: 0.6;
    }
    &__link:hover {
      color: $hover;
      opacity: 1;
    }
    &__link:hover &__name {
      opacity: 1;
    }
    &__link:hover .icon-market__count {
      background-color: $hover;
    }
  }
  .icon-market {
    &__count {
      position: absolute;
      width: auto;
      min-width: 11px;
      height: 11px;
      border-radius: 5px;
      background-color: $general;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-weight: 700;
      font-size: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -1px;
      right: 15px;
      box-shadow: 0px 0px 0px 1px $outline;
    }
  }
  .lg-none {
    display: none;
  }
}