@include media-down(lg) {
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    a {
      text-decoration: none;
    }
    a:focus {
      outline: none;
    }
    img {
      display: block;
    }    
    .body {
      margin: auto; 
      display: flex;
      flex-direction: column;
    }
    .hidden-text {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      clip-path: inset(100%);
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0px;
      white-space: nowrap;
      border: 0;
    }
  .promo-wrap {
    margin: 20px;
  }
  .promo {
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-between;
    // width: 95.8vw;
    &__item {
      border-radius: 3px;
      position: relative;
      // width: 400px;
      margin-right: 15px;
    }
    &__link {
      position: relative;
      border-radius: 3px;
      display: grid;
      height: 180px;
      width: 100vw;
      overflow: hidden;
      margin-right: 30px;
      margin-left: -20px;
    }
    &__sourse {
      position: absolute;
      bottom: 0;
      width: 100%;
      }
    &__img {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 150%;
      min-height: 180px;
      min-width: 500px;
      max-width: 990px;
    }
    &__info {
      display: grid;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      // box-sizing: border-box;
      z-index: 3;
      padding: 20px 0 30px 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 70%);
    }
    &__info:hover {
      background-color: #d866c950;
      background-image: none;
    }
    &__category {
      font-size: 0.8em;
      justify-self: center;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__model {
      font-size: 1em;
      justify-self: center;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__name {
      font-size: 1em;
      justify-self: center;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
    }
    &__new-price {
      padding: 3px 10px;
      background-color: #fff;
      color: $general;
      font-size: 1em;
      border-radius: 2px;
      margin-top: 5px;
      font-family: 'Exo 2', sans-serif;
      justify-self: center;
      align-self: center;
    }
    &__old-price {
      padding: 5px 10px;
      font-size: 1em;
      justify-self: center;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
    }
  }
  .pop-category-wrap {
    margin: 20px 0px 20px 20px;    
    &__tittle {
      font-size: 1.2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      text-align: center;
      margin-right: 20px;
    }
  }
  .pop-category {
    flex-direction: row;
    justify-content: space-between;
    &__item {
      display: grid;
      // border: 1px solid black;
      z-index: 5;
      position: relative;
      margin-right: 10px;
    }
    &__link {
      position: relative;
      color: $general;
      display: flex;
      flex-direction: column;
      z-index: 4;
      max-width: 130px;
      width: 30vw;
      min-width: 90px;
      // border: 1px solid green;
      overflow: hidden;
    }
    &__div {
      background-image: linear-gradient(180deg, #160013 0%, rgba(22, 0, 19, 0) 70%);
      
      max-height: 100px;
      height: 20vw;
      min-height: 70px;
      
      max-width: 130px;
      width: 30vw;
      min-width: 90px;

      border-radius: 3px;
      z-index: 3;
      // border: 1px solid rgb(0, 255, 34);
      overflow: hidden;
    }
    &__sourse {
      border-radius: 3px;
      z-index: 2;
      background-color: #fff;;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__img {
      border-radius: 3px;
      // border: 1px solid yellow;
      max-height: 100px;
      height: 20vw;
      min-height: 70px;

      max-width: 130px;
      width: 30vw;
      min-width: 90px;

      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__name {
      font-weight: 700;
      font-size: 0.7em;
      // border: 1px solid red;
      padding: 5px 0;
      white-space: normal;
      hyphens: auto;
      word-wrap: break-word;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    &__link:hover {
      color: $hover;
    }
    &__link:hover &__div {
      background-color: #d866c950;
      background-image: none;
    }
  }
  .pop-category-slider::after {
    content: "";
    width: 10vw;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), white);
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .pop-items-wrap {
    margin: 20px 20px 20px 20px;
    padding-bottom: 10px;
    &__tittle {
      font-size: 1.2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      text-align: center;
    }
  }
  .pop-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    &__item {
      position: relative;
      margin-right: 10px;
    }
    &__info {
      display: grid;
      grid-template-areas: 
      ". . . . a d"
      "i i i i i i"
      "b b b b b b"
      "c c c c c e";
      grid-template-rows: auto auto 60px auto;
      border: 3px solid $outline;
      border-radius: 3px;
    }
    &__info:hover {
      border-color: $market-hover;
    }
    &__sourse {
      grid-area: i;
      justify-self: center;
      // border: 1px solid black;
      display: grid;
      max-width: 300px;
      width: 25vw;
      min-width: 120px;
    }
    &__img {
      justify-self: center;
      height: 20vw;
      min-height: 100px;
      // border: 1px solid red;
    }
    &__name {
      font-size: 0.7em;
      font-weight: 700;
      grid-area: b;
      text-align: center;
      color: $black;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
      width: 25vw;
      min-width: 120px;
      height: 60px;
      padding: 10px 15px;
      font-family: 'Open Sans', sans-serif;
    }
    &__name:hover {
      color: $hover;
    }
    &__price {
      width: 100%;
      height: 45px;
      background-color: $outline;
      border-radius: 2px;
      grid-area: c;
      justify-self: end;
      align-self: start;
      padding: 5px;
      display: grid;
    }
    &__new-price {
      display: none;
    }
    .sale {
      display: grid;
      align-self: end;
      justify-self: center;
    }
    .sale &__new-price {
      display: grid;
      font-size: 0.8em;
      font-weight: 700;
      color: $general;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price {
      display: grid;
      font-size: 0.8em;
      font-weight: 700;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price .sale {
      font-size: 0.7em;
      font-weight: 700;
      color: $black;
      opacity: 0.3;
      justify-self: center;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
    }
    &__svg.icon-favor {
      width: 23px;
      height: 19px;
      fill: $general;
      opacity: 0.3;
      grid-area: a;
      margin: 5px;  
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-favor:hover,
    &__svg.icon-contrast:hover {
      fill: $hover;
      opacity: 1;
    }
    &__svg.icon-contrast {
      width: 20px;
      height: 15px;
      stroke: $general;
      opacity: 0.3;
      grid-area: d;
      margin: 5px; 
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-market {
      width: 23px;
      height: 20px;
      stroke: $general;
      justify-self: center;
      align-self: center;
    }
    &__market {
      width: 100%;
      height: 45px;
      border-radius: 2px;
      border: 3px solid $outline;
      background-color: $outline;
      display: grid;
      grid-area: e;
      justify-self: start;
      align-self: start;
      cursor: pointer;
    }
    &__market:hover {
      background-color: $market-hover;
      border: none;
    }
    &__market:hover .icon-market  {
      fill: $market-hover;
    }
  }
  .tools-type-wrap {
    position: relative;
    margin: 20px 0px 20px 20px;
    &__tittle {
      font-size: 1.2em;
      margin-right: 20px;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      text-align: center;
    }
  }
  .icon-type-guitar, 
  .icon-type-keyboards, 
  .icon-type-drum, 
  .icon-type-brass, 
  .icon-type-tongue {
    width: 35px;
    height: 35px;
  }
  .tools-type-slider::after {
    content: "";
    width: 10vw;
    height: 100%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), white);
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .tools-type {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    &__head-link {
      display: grid;
      grid-template-rows: 50px 30px;
      grid-template-columns: 70px;
      min-width: 70px;
      margin-right: 5px;
      color: $black;
      fill: $general;
    }
    &__head-link:hover {
      color: $general;
      fill: $hover;
    }
    &__icon {
      justify-self: center;
      align-self: center;
    }
    &__tittle {
      font-weight: 700;
      font-size: 1.4ch;
      justify-self: center;
      align-self: center;
      font-family: 'Open Sans', sans-serif;
    }
    &__group {
      display: none;
    }
  }
  .suggestion-wrap {
    margin: 20px 20px 20px 20px;
  }
  .suggestion {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 3px;
    &__item {
      border-radius: 3px;
      position: relative;
      // width: 94.8vw;      
    }
    &__sourse {
      position: absolute;
      top: 0;
      width: 100%;
    }
    &__img {
      width: 100%;
      min-height: 260px;
      border-radius: 3px;
    }
    &__content {
      height: 260px;
      width: 100vw;
      overflow: hidden;
      margin-right: 30px;
      margin-left: -20px;
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      display: grid;
      grid-template-rows: auto 35% auto;
      font-family: 'Open Sans', sans-serif;
      white-space: normal;
      background-image: linear-gradient(180deg, #16001352 0%, rgba(22, 0, 19, 0) 100%);
    }
    &__content:hover {
      background-color: #d866c950;
    }
    &__category {
      color: #fff;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      justify-self: center;
      align-self: end;
    }
    &__name {
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      justify-self: center;
      align-self: center;
      text-align: center;
      font-size: 1.5em;
      width: 80%;
    }
    &__price {
      color: $general;
      font-size: 1.5em;
      font-weight: 700;
      background-color: #fff;
      padding: 5px 10px;
      justify-self: center;
      align-self: start;
      border-radius: 2px;
    }
  }
  .pop-brand {
    margin: 20px 20px 20px 20px;
    &__tittle {
      font-size: 1.2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      text-align: center;
    }
    &__list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: column;
    }

    &__element {
      justify-self: center;
      align-self: center;
      display: grid;
    }
    &__link {
      padding: 10px 5px;
      display: grid;
      margin: 0;
    }
    &__link:hover {
      opacity: 0.5;
    }
    &__name {
      display: none;
    }
    &__sourse {
      width: 23vw;
      max-width: 150px;
    }

  }
}
@include media-up(lg) {
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  a:focus {
    outline: none;
  }
  img {
    display: block;
  }
  * {
    box-sizing: border-box;
  }
  .body {
    margin: auto; 
    display: flex;
    flex-direction: column;
  }
  .hidden-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    white-space: nowrap;
    border: 0;
  }
  .none-bid {
    display: none;
  }
  .container {
    max-width: 1250px;
    padding: 0px 20px;
    margin: auto;
  }
  .promo-wrap {
    margin-top: 50px;
  }
  .promo {
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-between;
    &__item {
      display: grid;
    }
    &__link {
      position: relative;
    }
    &__img {
      height: 410px;
      width: auto;
      border-radius: 3px;
    }
    &__info {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns:  150px 150px auto;      
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      top: 0;
      padding: 5% 5% 7% 10%;
      background: linear-gradient(to right, #1600133d 0%, rgba(22, 0, 19, 0) 100%);
      // border: 1px solid black;
    }
    &__info:hover {
      background-color: #d866c950;
    }
    &__category {
      font-size: 2em;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__model {
      font-size: 2.5em;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
    }
    &__name {
      font-size: 3em;
      margin: 0px 0px 15px 0px;
      font-family: 'Open Sans', sans-serif;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
    }
    &__new-price {
      padding: 5px 10px;
      background-color: #fff;
      color: $general;
      font-size: 2em;
      border-radius: 2px;
      margin-right: 10px;
      font-family: 'Exo 2', sans-serif;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: 5;
      justify-self: start;
      align-self: center;
    }
    &__old-price {
      padding: 5px 10px;
      font-size: 2em;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      justify-self: start;
      align-self: center;
    }
  }
  .pop-category-wrap {
    margin: 50px 0 100px 0;
    &__tittle {
      font-size: 2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      margin-bottom: 50px;
    }
  }
  .pop-category {
    border-radius: 3px;
    flex-direction: row;
    justify-content: space-between;
    &__item {
      display: grid;
      margin-right: 20px;
    }
    &__link {
      position: relative;
      border-radius: 3px;
    }
    &__img {
      width: 18.8vw;
      min-width: 230px;
    }
    &__sourse {
      width: 100%;
    }
    &__name {
      color: #fff;
      font-weight: 700;
      font-size: 1.2em;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 60%;
      background-image: linear-gradient(180.17deg, rgba(82, 0, 71, 0) 39.47%, #52004750 67.19%);
      font-family: 'Open Sans', sans-serif;
    }
    &__name:hover {
      color: #FFCBF8;
      background-image: linear-gradient(180.17deg, rgba(82, 0, 71, 0) 39.47%, #52004785 67.19%);
    }
  }
  .pop-items-wrap {
    margin: 50px 0 100px 0;
    &__tittle {
      font-size: 2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      margin-bottom: 50px;
    }
  }
  .pop-items {
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    &__item {
      position: relative;
      border-radius: 3px;
      display: grid;
      margin-right: 20px;
    }
    &__info {
      display: grid;
      grid-template-areas: 
      ". . . . a d"
      "i i i i i i"
      "b b b b b b"
      "c c c e e e";
      grid-template-rows: 50px auto 70px 70px;
      border: 3px solid $outline;
    }
    &__info:hover {
      border-color: $market-hover;
    }
    &__sourse {
      grid-area: i;
      justify-self: center;
      display: grid;
      margin: 5px;
    }
    &__img {
      height: 20vw;
      max-height: 250px;
      justify-self: center;
    }

    &__name {
      font-size: 1em;
      padding: 5px;
      font-weight: 700;
      grid-area: b;
      justify-self: center;
      align-self: center;
      text-align: center;
      color: $black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 21.8vw;
      min-width: 200px;
      max-width: 280px;
      font-family: 'Open Sans', sans-serif;
    }
    &__name:hover {
      color: $hover;
    }
    &__price {
      width: 90px;
      height: 45px;
      background-color: $outline;
      border-radius: 2px;
      margin-right: 10px;
      grid-area: c;
      justify-self: end;
      align-self: start;
      display: grid;
      padding: 5px;
    }
    &__new-price {
      display: none;
    }
    .sale {
      display: grid;
      align-self: end;
      justify-self: center;
    }
    .sale &__new-price {
      display: grid;
      font-size: 1em;
      font-weight: 700;
      color: $general;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price {
      display: grid;
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price .sale {
      font-size: 0.7em;
      font-weight: 700;
      color: $black;
      opacity: 0.3;
      justify-self: center;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
    }
    &__svg.icon-favor {
      width: 22px;
      height: 19px;
      fill: $general;
      opacity: 0.3;
      grid-area: a;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-favor:hover,
    &__svg.icon-contrast:hover {
      fill: $hover;
      opacity: 1;
    }
    &__svg.icon-contrast {
      width: 20px;
      height: 15px;
      stroke: $general;
      opacity: 0.3;
      grid-area: d;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-market {
      width: 23px;
      height: 20px;
      stroke: $general;
      justify-self: center;
      align-self: center;
    }
    &__market {
      width: 45px;
      height: 45px;
      border-radius: 2px;
      border: 3px solid $outline;
      display: grid;
      grid-area: e;
      justify-self: start;
      align-self: start;
      cursor: pointer;
    }
    &__market:hover {
      background-color: $market-hover;
      border: none;
    }
    &__market:hover .icon-market  {
      fill: $market-hover;
    }
  }
  .tools-type-wrap {
    margin: 50px 0 100px 0;
    &__tittle {
      font-size: 2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
      margin-bottom: 50px;
    }
  }
  .icon-type-guitar, 
  .icon-type-keyboards, 
  .icon-type-drum, 
  .icon-type-brass, 
  .icon-type-tongue {
    width: 65px;
    height: 65px;
    fill: $general;
  }
  .tools-type {
    display: flex;
    justify-content: space-around;
    &__head-link {
      display: grid;
    }
    &__head-link:hover &__tittle {
      color: $general;
    }
    &__head-link:hover &__icon {
      fill: $hover;
    }
    &__section {
      display: grid;
      grid-template-rows: auto auto;
    }
    &__icon {
      // margin: 20px 0px;
      justify-self: center;
      align-self: center;
    }
    &__tittle {
      font-weight: 700;
      font-size: 1.1em;
      justify-self: center;
      align-self: center;
      font-family: 'Open Sans', sans-serif;
      color: $black;
    }
    &__group {
      display: grid;
    }
    &__element {
      text-align: center;
      padding: 5px 5px;
    }
    &__link {
      color: $black;
      font-family: 'Open Sans', sans-serif;
      opacity: 0.5;
      font-size: 0.9em;
      white-space: normal;
      line-height: 2em;
      width: 180px;
    }
    &__link:hover {
      color: $hover;
      opacity: 1;
    }
  }
  .suggestion {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    &__item {
      height: 35vw;
      max-height: 420px;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      display: grid;
    }
    &__sourse {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &__img {
      position: absolute;
      bottom: 0;
      right: -15px;
    }
    &__content {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-rows: 70px auto 100px;
      font-family: 'Open Sans', sans-serif;
      white-space: normal;
      background-image: linear-gradient(180deg, #16001352 0%, rgba(22, 0, 19, 0) 100%);
    }
    &__content:hover {
      background-color: #d866c950;
    }
    &__category {
      color: #fff;
      font-size: 1.3em;
      font-weight: 700;
      text-transform: uppercase;
      justify-self: center;
      align-self: end;
    }
    &__name {
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      justify-self: center;
      align-self: start;
      text-align: center;
      padding: 0 15px;
      font-size: 1.7em;
    }
    &__item:nth-child(2) &__name {
      font-size: 2.5em;
    }
    &__price {
      color: $general;
      font-size: 1.7em;
      font-weight: 700;
      background-color: #fff;
      padding: 5px 10px;
      justify-self: center;
      align-self: start;
      border-radius: 2px;
    }
  }
  .pop-brand {
    margin: 50px 0 70px 0;
    &__tittle {
      font-size: 2em;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif; 
      margin-bottom: 50px;
    }
    &__list {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-auto-flow: column;
    }
    &__name {
      font-size: 1em;
      font-weight: 700;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
    &__element {
      justify-self: center;
      align-self: center;
      margin: 20px 0;
    }
    &__link:hover {
      opacity: 0.5;
    }
    &__img {
      width: 100%;
    }
  }
}