ul, li {
list-style: none;
padding: 0;
margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: block;
}
* {
  box-sizing: border-box;
}

.body {
  margin: auto; 
  display: flex;
  flex-direction: column;
}
.hidden-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  white-space: nowrap;
  border: 0;
}
@include media-up(lg) {
  .none-bid {
    display: none;
  }
  .container {
    max-width: 1250px;
    padding: 0px 20px;
    margin: auto;
  }
  .promo-wrap {
    margin-top: 30px;
  }
  .promo {
    &__item {
      display: grid;
    }
    &__link {
      position: relative;
    }
    &__img {
      width: 100%;
    }
    &__info {
      display: grid;
      grid-template-areas: 
      "a a a"
      "b b b"
      "c c c"
      "d e .";
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      position: absolute;
      left: 10%;
      top: 15%;
    }
    &__category {
      font-size: 30px;
      grid-area: a;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__model {
      font-size: 46px;
      grid-area: b;
      margin: 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__name {
      font-size: 46px;
      grid-area: c;
      margin: 0px 0px 15px 0px;
      font-family: 'Open Sans', sans-serif;
    }
    &__new-price {
      padding: 5px 10px;
      background-color: #fff;
      color: $general;
      font-size: 30px;
      border-radius: 2px;
      margin-right: 10px;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price {
      padding: 5px 10px;
      font-size: 30px;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
    }
  }
  .pop-category-wrap {
    margin: 30px 0 60px 0;
    &__tittle {
      font-size: 30px;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
    }
  }
  .pop-category {
    &__item {
      display: grid;
    }
    &__link {
      position: relative;
      border-radius: 3px;
    }
    &__img {
      width: 100%;
    }
    &__name {
      color: #fff;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      position: absolute;
      z-index: 2;
      top: 80%;
      width: 100%;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
  }
  .pop-items-wrap {
    margin: 30px 0 60px 0;
    &__tittle {
      font-size: 30px;
      text-transform: uppercase;
      font-family: 'Exo 2', sans-serif;
    }
  }
  .pop-items {
    &__item {
      position: relative;
      border-radius: 3px;
      height: 422px;
      display: grid;
    }
    &__info {
      display: grid;
      grid-template-areas: 
      ". . . . a d"
      "i i i i i i"
      "b b b b b b"
      "c c c e e e";
      grid-template-rows: 50px auto auto 70px;
      border: 3px solid $outline;
    }
    &__img {
      grid-area: i;
      justify-self: center;
    }
    &__name {
      font-size: 15px;
      font-weight: 700;
      grid-area: b;
      justify-self: center;
      align-self: end;
      text-align: center;
      margin-bottom: 20px;
      color: $black;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 230px;
      height: 45px;
      font-family: 'Open Sans', sans-serif;
    }
    &__price {
      width: 90px;
      height: 45px;
      background-color: $outline;
      border-radius: 2px;
      margin-right: 10px;
    
      grid-area: c;
      justify-self: end;
      align-self: start;

      display: grid;

    }
    &__new-price {
      display: none;
    }
    .sale {
      display: grid;
    }
    .sale &__new-price {
      display: grid;
      font-size: 15px;
      font-weight: 700;
      color: $general;
      justify-self: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price {
      font-size: 15px;
      font-weight: 700;
      align-self: center;
      text-align: center;
      font-family: 'Exo 2', sans-serif;
    }
    &__old-price .sale {
      font-size: 11px;
      font-weight: 700;
      color: $black;
      opacity: 0.3;
      justify-self: center;
      text-decoration-line: line-through;
      font-family: 'Exo 2', sans-serif;
    }
    &__svg.icon-favor {
      width: 22px;
      height: 19px;
      fill: $general;
      opacity: 0.3;
      grid-area: a;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-contrast {
      width: 20px;
      height: 15px;
      stroke: $general;
      opacity: 0.3;
      grid-area: d;
      justify-self: center;
      align-self: center;
      cursor: pointer;
    }
    &__svg.icon-market {
      width: 23px;
      height: 20px;
      stroke: $general;
      justify-self: center;
      align-self: center;
    }
    &__market {
      width: 45px;
      height: 45px;
      border-radius: 2px;
      border: 3px solid $outline;
      display: grid;
      grid-area: e;
      justify-self: start;
      align-self: start;
      cursor: pointer;
    }
  }














  .slider {
    display: grid;
    grid-template-columns: auto 20px 20px 20px 20px 20px auto;
    position: relative;
    overflow: hidden;
    &__input {
      display: none;
    }
    &__label {
      display: inline-block;
      padding: 5px;
      margin: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      cursor: pointer;
      transition: opacity 0.2s;
      justify-items: center;
      z-index: 2;
      align-self: end;
    }
    &__label-promo {
      background-color: #fff;
      opacity: 0.3;
      margin-bottom: 40px;
    }
    &__label-pop {
      background-color: $general;
      opacity: 0.15;
    }
    &__back-link {
      width: 45px;
      height: 45px;
      background-color: $outline;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      justify-self: start;
      align-self: center;
      z-index: 2;
      display: grid;
    }
    &__next-link {
      width: 45px;
      height: 45px;
      background-color: $outline;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      justify-self: end;
      align-self: center;
      z-index: 2;
      transform: rotate(180deg);
      display: grid;
    }
    &__down-link {
      width: 100%;
      height: 110px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9), #fff);
      justify-self: center;
      align-self: end;
      z-index: 2;

      display: grid;

      position: absolute;
      bottom: 30px;
    }
    &__down-link &__icon {
      transform: rotate(90deg);
    }
    &__link-pop {
      margin-bottom: 40px;
    }
    &__link-tools {
      margin-bottom: 170px;
    }
    &__icon {
      justify-self: center;
      align-self: center;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  
  
  #slider-btn11:checked ~ .slider__label[for="slider-btn11"],
  #slider-btn12:checked ~ .slider__label[for="slider-btn12"],
  #slider-btn13:checked ~ .slider__label[for="slider-btn13"],
  #slider-btn14:checked ~ .slider__label[for="slider-btn14"],
  #slider-btn15:checked ~ .slider__label[for="slider-btn15"] {
    scale: 1.1;
    opacity: 1;
  }
  #slider-btn11:checked ~ .slider__content{
    transition: 1s;
    transform: translateX(0px);
  }
  #slider-btn12:checked ~ .slider__content{
    transition: 1s;
    transform: translateX(-308px);
  }
  #slider-btn13:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-616px);
  }
  #slider-btn14:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-924px);
  }
  #slider-btn15:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-1232px);
  }
  #slider-btn16:checked ~ .slider__label[for="slider-btn16"],
  #slider-btn17:checked ~ .slider__label[for="slider-btn17"],
  #slider-btn18:checked ~ .slider__label[for="slider-btn18"],
  #slider-btn19:checked ~ .slider__label[for="slider-btn19"],
  #slider-btn20:checked ~ .slider__label[for="slider-btn20"] {
    scale: 1.1;
    opacity: 1;
  }
  #slider-btn16:checked ~ .slider__content{
    transition: 1s;
    transform: translateX(0px);
  }
  #slider-btn17:checked ~ .slider__content{
    transition: 1s;
    transform: translateX(-245px);
  }
  #slider-btn18:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-490px);
  }
  #slider-btn19:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-735px);
  }
  #slider-btn20:checked ~ .slider__content {
    transition: 1s;
    transform: translateX(-980px);
  }



  .tools-type-wrap {
    margin-top: 30px;
    &__slider {
      margin-top: 30px;
      width: 96vw;
      height: 430px;
      min-width: 952px;
      max-width: 1210px;
      border-radius: 3px;
    }
    &__tittle {
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  #slider-btn21:checked ~ .slider__down-link[for="slider-btn21"] {
    transform: rotate(180deg);
    height: 25px;
  }
  .icon-type-guitar, .icon-type-keyboards, .icon-type-drum, .icon-type-brass, .icon-type-tongue {
    width: 65px;
    height: 65px;
    fill: $general;
  }
  .tools-type {
    height: 400px;
    &__list {
      display: flex;
      position: absolute;
    }
    &__item {
      padding: 0 25px;
      margin-right: 15px;
      width: 230px;
    }
    &__section {
      display: grid;
      grid-template-rows: auto 50px auto;
    }
    &__icon {
      margin: 20px 0px;
      justify-self: center;
      align-self: center;
    }
    &__tittle {
      font-weight: 700;
      font-size: 22px;
      justify-self: center;
      align-self: center;
    }
    &__group {
      margin-top: 15px;
    }
    &__element {
      text-align: center;
      margin-bottom: 10px;
    }
    &__link {
      color: $black;
      opacity: 0.5;
      font-size: 15px;
    }
  }
  .suggestion {
    margin-top: 50px;
    &__container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 30px;
    }
    &__item {
      height: 422px;
      position: relative;
      overflow: hidden;
      border-radius: 3px;
      display: grid;
    }
    &__img {
      position: absolute;
    }
    &__img--left {
      left: -50px;
    }
    &__img--center {
      left: -5px;
    }
    &__img--right {
      left: -200px;
    }
    &__content {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-rows: 70px auto 100px;
      // align-content: space-between;
    }
    &__category {
      color: #fff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      justify-self: center;
      align-self: end;
    }
    &__name {
      font-weight: 700;
      color: #fff;
      text-transform: uppercase;
      justify-self: center;
      align-self: start;
      text-align: center;
      padding: 0 15px;
    }
    &__name-left {
      font-size: 30px;
    }
    &__name-center {
      font-size: 50px;
    }
    &__name-right {
      font-size: 30px;
    }
    &__price {
      color: $general;
      font-size: 20px;
      font-weight: 700;
      background-color: #fff;
      padding: 5px 10px;
      justify-self: center;
      align-self: start;
      border-radius: 2px;
    }
  }
  .pop-brand {
    margin: 50px 0;
    &__tittle {
      font-size: 30px;
      text-transform: uppercase;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    &__column {
      display: grid;
    }
    &__name {
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      padding: 30px 0;
    }
    &__group {
      justify-self: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    &__element {
      justify-self: center;
      align-self: center;
      margin-bottom: 40px;
    }
  }
}