@include media-down(lg) {
  .glide {
    // position: relative;
    min-width: 250px;
    &__arrow {
      position: absolute;
      z-index: 2;
      width: 30px;
      height: 28px;
      background-color: $outline;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
    &__arrow:hover {
      background-color: $market-hover;
    }
    &__arrow:hover .icon-slider-link {
      fill: $market-hover;
      stroke: $hover;
    }
    &__arrow:focus {
      outline: none;
    }
    &__arrow--left {
      left: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &__arrow--right {
      right: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
    &__bullets {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 2;
      height: 30px;
    }
    &__bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      appearance: none;
      border: 0;
      margin: 5px;
      padding: 0;
      cursor: pointer;
      background-color: $general;
      opacity: 0.15;
    }
    &__bullet:hover {
      opacity: 0.6;
    }
    &__bullet:focus {
      outline: none;
    }
    &__bullet--active {
      background-color: $general;
      scale: 1.1;
      opacity: 1;
    }
    &__icon--right {
      transform: rotate(180deg);
    }
    &__arrow--promo {
    top: 40%;
    }
    &__bullets--promo,
    &__bullets--suggestion {
    bottom: 25px;
    }
    &__arrow--suggestion {
    top: 40%;
    }
    &__bullet--promo:hover,
    &__bullet--suggestion:hover {
      background-color: $hover;
    }
    &__bullet--promo,
    &__bullet--suggestion {
    background-color: #fff;
    opacity: 0.4;
    }
    &__bullets--promo &__bullet--active,
    &__bullets--suggestion &__bullet--active {
    opacity: 1;
    }
    &__bullets--pop-cat,
    &__arrows--pop-cat,
    &__arrows--tools-type,
    &__bullets--tools-type {
      display: none;
    }
    &__arrow--pop {
    top: 35%;
    }
    &__bullets--pop {
    bottom: -10px;
    }
    &__arrow--type {
      top: 28%;
    }
    &__down-btn {
      cursor: pointer;
      position: absolute;
      z-index: 2;
      bottom: 10px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), #fff);
      width: 100%;
      height: 80px;
      display: grid;
    }
    &__icon--down {
      transform: rotate(-90deg);
      justify-self: center;
      align-self: center;
    }
    &__down-btn--tools-type {
      display: none;
    }
  }
    .icon-slider-link {
    width: 10px;
    height: 14px;
    stroke: $general;
    stroke-width: 2.5px;
    fill: $outline;
  }
}
@include media-up(lg) {
  .glide {
    position: relative;
    width: 96vw;
    min-width: 952px;
    max-width: 1210px;
    &__arrow {
      position: absolute;
      z-index: 2;
      width: 45px;
      height: 45px;
      background-color: $outline;
      border: none;
      box-shadow: none;
      cursor: pointer;
    }
    &__arrow:hover {
      background-color: $market-hover;
    }
    &__arrow:hover .icon-slider-link {
      fill: $market-hover;
      stroke: $hover;
    }
     &__arrow:focus {
      outline: none;
    }
     &__arrow--left {
      left: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
     }
     &__arrow--right {
      right: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
     }
     &__bullets {
      display: flex;
      align-items: center;
      justify-content: center;
      // position: absolute;
      // left: 45%;
      position: relative;
      z-index: 2;
      padding: 5px;
      // border: 1px solid red;
    }
    &__bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      appearance: none;
      font-size: 0;
      border: 0;
      margin: 8px;
      padding: 0;
      cursor: pointer;
      background-color: $general;
      opacity: 0.15;
    }
    &__bullet:hover {
      opacity: 0.6;
    }
    &__bullet:focus {
      outline: none;
    }
    &__bullet--active {
      background-color: $general;
      scale: 1.1;
      opacity: 1;
     }
     &__icon--right {
       transform: rotate(180deg);
     }
     &__arrow--promo {
      top: 45%;
     }
     &__bullets--promo {
      bottom: 50px;
    }
    &__bullet--promo:hover {
      background-color: $hover;
    }
     &__bullet--promo {
      background-color: #fff;
      opacity: 0.3;
     }
     &__bullets--promo &__bullet--active {
      opacity: 1;
     }
     &__arrow--pop {
      top: 40%;
     }

    &__arrow--type {
      top: 19%;
    }
    &__down-btn {
      cursor: pointer;
      position: absolute;
      z-index: 2;
      bottom: 30px;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.7), #fff);
      width: 100%;
      height: 100px;
      display: grid;
    }
    &__down-btn:hover {
      background: linear-gradient(180deg, rgba(255, 249, 254, 0) 0%, #FFF9FE 69.27%);
    }
    &__down-btn:hover .icon-slider-link {
      stroke: $hover;
    }
    &__icon--down {
      transform: rotate(-90deg);
      justify-self: center;
      align-self: center;
      stroke: $general;
    }
    &__bullets--suggestion {
      display: none;
    }
    &__arrows--suggestion {
      display: none;
    }
  }
   .icon-slider-link {
    width: 12px;
    height: 24px;
    stroke: $general;
    stroke-width: 2.5px;
    fill: $outline;
  }
}