// screen size
$screen-xxs: 1px;
$screen-xs: 300px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;

// base color 
$general:  #A0148E;           //основной
$outline: #FFF8FE;         // фон и обводки
$black: #2D0027;             // тёмно-фиолетовый
$hover: #D866C9;            // ховер
$danger: #EF2D2D;           // ошибка
$field-outline: #F7ECF5;    // обводка у поля
$item-outline: #F5DEF3;      // обводка у карточки
$footer-outline: #EFE4ED;      // обводка у карточки
$footer-outline-button: hsla(311, 25.6%, 91.6%, 0.15);      // обводка у карточки
$border-search: #F9EFF7;   // обводка у поиска
$search-fild: #FFEFFD;     // поле поиска ховер
$market-hover: #ffe3fb;    // ховер на корзине
$white: #ffffff;    // белый цвет на шрифт