{% set tittle = 'LMARKT Музыкальный магазин' %}

{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

{% block content %}

<main class="main">
  <h1 class="hidden-text">Музыкальный магазин Lmarkt</h1>
  {% include "includes/index-promo.html" %}
  {% include "includes/index-pop-category.html" %}
  {% include "includes/index-pop-items.html" %}
  {% include "includes/index-tools-type.html" %}
  {% include "includes/index-suggestion.html" %}
  {% include "includes/index-pop-brand.html" %}

</main>

{% endblock %}