{% set tittle = 'LMARKT Музыкальный магазин' %}

{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

exemple - item card = [{id: "", type: "", category: "", brand: "", name: "", model: "", imgSrc: "",
oldPrice: "", typeDiscout: "", newPrice: ""}]

{% set promo = [
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 1", model: "ad810-bks", name: "Standart series",
newPrice: "12 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 2", model: "ad810-bks", name: "Standart series",
newPrice: "13 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 3", model: "ad810-bks", name: "Standart series",
newPrice: "14 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 4", model: "ad810-bks", name: "Standart series",
newPrice: "15 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 5", model: "ad810-bks", name: "Standart series",
newPrice: "16 350", oldPrice: "16 350"}
]%}

{% set popCategory = [
{href: "#", src: "img/classic.jpg", name: "Классические гитары"},
{href: "#", src: "img/keyboards.jpg", name: "Синтезаторы"},
{href: "#", src: "img/electric.jpg", name: "Эллектрогитары"},
{href: "#", src: "img/amplifier.jpg", name: "Усилители"},
{href: "#", src: "img/classic.jpg", name: "Классические гитары"},
{href: "#", src: "img/keyboards.jpg", name: "Синтезаторы"},
{href: "#", src: "img/electric.jpg", name: "Эллектрогитары"},
{href: "#", src: "img/amplifier.jpg", name: "Усилители"}
]%}

{% set popItems = [
{href: "#", src: "img/pop-items1.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items2.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items3.jpg", name: "185-STAY 1100/02 Slim <br> Стойка-колонна для клавишная",
oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items4.jpg", name: "438PIA0703 Stage Studio <br> Цифровое пианино, черное", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items1.jpg", name: "011C Гитара <br> классическая 4/4, Doff", newPrice: "15 980", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items2.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items3.jpg", name: "185-STAY 1100/02 Slim <br> Стойка-колонна для клавишная", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items4.jpg", name: "438PIA0703 Stage Studio <br> Цифровое пианино, черное", oldPrice:
"18 980", typeDiscout: "", newPrice: ""}
]%}

{% set toolsTypeStrings = [
{category: "Классические гитары"}, {category: "Акустические гитары"}, {category: "Акустические бас-гитары"}, {category:
"Электрогитары"}, {category: "Бас-гитары"}, {category: "Укулеле"}
]%}

{% set toolsTypeKeyboards = [
{category: "Синтезаторы"}, {category: "Цифровые пианино"}, {category: "Цифровые органы"}, {category:
"Акустические клавишные инструменты"}, {category: "MIDI-клавиатуры"}
]%}

{% set toolsTypeDrum = [
{category: "Акустические ударные"}, {category: "Электронные ударные"}, {category: "Тарелки"}, {category:
"Стойки"}, {category: "Рамы"}, {category: "Педали"}
]%}

{% set toolsTypeBrass = [
{category: "Блок-флейты"}, {category: "Флейты"}, {category: "Саксофоны"}, {category:
"Кларнеты"}, {category: "Трубы"}, {category: "Трамбоны"}
]%}

{% set toolsTypeTongue = [
{category: "Блок-флейты"}, {category: "Флейты"}, {category: "Саксофоны"}, {category:
"Кларнеты"}, {category: "Трубы"}, {category: "Трамбоны"}
]%}

{% set suggestion = [
{position: "left", name: "Selmer Super Action 80", category: "Саксофон", price: "16 450", src:
"img/selmer-super-action-80.jpg", href: "#"},
{position: "center", name: "CASIO CDP 320k", category: "Электронное пианино", price: "38 890", src:
"img/casio-cdp-320k.jpg", href: "#"},
{position: "right", name: "Ibanez RG450 Japan 2001", category: "Электрогитара", price: "49 990", src:
"img/ibanez-rg450.jpg", href: "#"}
]%}



{% block content %}

<main class="container">
  <section class="promo-wrap">
    <div class="promo-slider slider">
      <input type="radio" id="slider-btn1" class="slider__input" name="slider-promo" checked>
      <input type="radio" id="slider-btn2" class="slider__input" name="slider-promo">
      <input type="radio" id="slider-btn3" class="slider__input" name="slider-promo">
      <input type="radio" id="slider-btn4" class="slider__input" name="slider-promo">
      <input type="radio" id="slider-btn5" class="slider__input" name="slider-promo">
      <a href="#" class="slider__back-link">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <label class="slider__label slider__label-promo" for="slider-btn1"></label>
      <label class="slider__label slider__label-promo" for="slider-btn2"></label>
      <label class="slider__label slider__label-promo" for="slider-btn3"></label>
      <label class="slider__label slider__label-promo" for="slider-btn4"></label>
      <label class="slider__label slider__label-promo" for="slider-btn5"></label>
      <a href="#" class="slider__next-link">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <div class="slider__content promo">
        <ul class="promo__list">
          {% for item in promo %}
          {{ variable.promoItem(item.href, item.src, item.category, item.model, item.name, item.newPrice,
          item.oldPrice) }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="pop-category-wrap">
    <h2 class="pop-category-wrap__tittle">Популярные категории</h2>
    <div class="pop-category-wrap__slider slider">
      <input type="radio" id="slider-btn6" class="slider__input" name="slider-pop-category" checked>
      <input type="radio" id="slider-btn7" class="slider__input" name="slider-pop-category">
      <input type="radio" id="slider-btn8" class="slider__input" name="slider-pop-category">
      <input type="radio" id="slider-btn9" class="slider__input" name="slider-pop-category">
      <input type="radio" id="slider-btn10" class="slider__input" name="slider-pop-category">
      <a href="#" class="slider__back-link slider__link-pop">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <label class="slider__label slider__label-pop" for="slider-btn6"></label>
      <label class="slider__label slider__label-pop" for="slider-btn7"></label>
      <label class="slider__label slider__label-pop" for="slider-btn8"></label>
      <label class="slider__label slider__label-pop" for="slider-btn9"></label>
      <label class="slider__label slider__label-pop" for="slider-btn10"></label>
      <a href="#" class="slider__next-link slider__link-pop">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <div class="slider__content pop-category">
        <ul class="pop-category__list">
          {% for item in popCategory %}
          {{ variable.popCategoryItem(item.href, item.src, item.name) }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="pop-items-wrap">
    <h2 class="pop-items-wrap__tittle">Популярные товары</h2>
    <div class="pop-items-wrap__slider slider">
      <input type="radio" id="slider-btn11" class="slider__input" name="slider-pop-items" checked>
      <input type="radio" id="slider-btn12" class="slider__input" name="slider-pop-items">
      <input type="radio" id="slider-btn13" class="slider__input" name="slider-pop-items">
      <input type="radio" id="slider-btn14" class="slider__input" name="slider-pop-items">
      <input type="radio" id="slider-btn15" class="slider__input" name="slider-pop-items">
      <a href="#" class="slider__back-link slider__link-pop">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <label class="slider__label slider__label-pop" for="slider-btn11"></label>
      <label class="slider__label slider__label-pop" for="slider-btn12"></label>
      <label class="slider__label slider__label-pop" for="slider-btn13"></label>
      <label class="slider__label slider__label-pop" for="slider-btn14"></label>
      <label class="slider__label slider__label-pop" for="slider-btn15"></label>
      <a href="#" class="slider__next-link slider__link-pop">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <div class="slider__content pop-items">
        <ul class="pop-items__list">
          {% for item in popItems %}
          {{ variable.popItem(item.href, item.src, item.name, item.oldPrice, item.typeDiscout, item.newPrice) }}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="tools-type-wrap">
    <h2 class="tools-type-wrap__tittle">Инструменты по видам</h2>
    <div class="tools-type-wrap__slider slider">
      <input type="radio" id="slider-btn16" class="slider__input" name="slider-tools-type" checked>
      <input type="radio" id="slider-btn17" class="slider__input" name="slider-tools-type">
      <input type="radio" id="slider-btn18" class="slider__input" name="slider-tools-type">
      <input type="radio" id="slider-btn19" class="slider__input" name="slider-tools-type">
      <input type="radio" id="slider-btn20" class="slider__input" name="slider-tools-type">
      <a href="#" class="slider__back-link slider__link-tools">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <label class="slider__label slider__label-pop" for="slider-btn16"></label>
      <label class="slider__label slider__label-pop" for="slider-btn17"></label>
      <label class="slider__label slider__label-pop" for="slider-btn18"></label>
      <label class="slider__label slider__label-pop" for="slider-btn19"></label>
      <label class="slider__label slider__label-pop" for="slider-btn20"></label>
      <a href="#" class="slider__next-link slider__link-tools">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </a>
      <input type="checkbox" id="slider-btn21" class="slider__input" name="slider-tools-type-height">
      <label class="slider__down-link" for="slider-btn21">
        <svg class="slider__icon icon-slider-link">
          <use xlink:href='img/svg/sprite.svg#slider-link'></use>
        </svg>
      </label>
      <div class="slider__content tools-type">
        <ul class="tools-type__list">
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-guitar">
                <use xlink:href='img/svg/sprite.svg#type-guitar'></use>
              </svg>
              <tittle class="tools-type__tittle">Струнные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeStrings %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-keyboards">
                <use xlink:href='img/svg/sprite.svg#type-keyboards'></use>
              </svg>
              <tittle class="tools-type__tittle">Клавишные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeKeyboards %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-drum">
                <use xlink:href='img/svg/sprite.svg#type-drum'></use>
              </svg>
              <tittle class="tools-type__tittle">Ударные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeDrum %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-brass">
                <use xlink:href='img/svg/sprite.svg#type-brass'></use>
              </svg>
              <tittle class="tools-type__tittle">Духовые</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeBrass %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-tongue">
                <use xlink:href='img/svg/sprite.svg#type-tongue'></use>
              </svg>
              <tittle class="tools-type__tittle">Язычковые</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeTongue %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-guitar">
                <use xlink:href='img/svg/sprite.svg#type-guitar'></use>
              </svg>
              <tittle class="tools-type__tittle">Струнные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeStrings %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-keyboards">
                <use xlink:href='img/svg/sprite.svg#type-keyboards'></use>
              </svg>
              <tittle class="tools-type__tittle">Клавишные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeKeyboards %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-drum">
                <use xlink:href='img/svg/sprite.svg#type-drum'></use>
              </svg>
              <tittle class="tools-type__tittle">Ударные</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeDrum %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-brass">
                <use xlink:href='img/svg/sprite.svg#type-brass'></use>
              </svg>
              <tittle class="tools-type__tittle">Духовые</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeBrass %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <svg class="tools-type__icon icon-type-tongue">
                <use xlink:href='img/svg/sprite.svg#type-tongue'></use>
              </svg>
              <tittle class="tools-type__tittle">Язычковые</tittle>
              <ul class="tools-type__group">
                {% for item in toolsTypeTongue %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="suggestion-wrap">
    <div class="suggestion">
      <div class="suggestion__container">
        {% for item in suggestion %}
        {{ variable.suggestion(item.position, item.name, item.category, item.price, item.src, item.href) }}
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="pop-brand"></section>
</main>

{% endblock %}