{% set tittle = 'LMARKT Музыкальный магазин' %}

{% extends "templates/default.html" %}
{% import "includes/macros.html" as variable %}

exemple - item card = [{id: "", type: "", category: "", brand: "", name: "", model: "", imgSrc: "",
oldPrice: "", typeDiscout: "", newPrice: ""}]

{% set promo = [
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 1", model: "ad810-bks", name: "Standart series",
newPrice: "12 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 2", model: "ad810-bks", name: "Standart series",
newPrice: "13 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 3", model: "ad810-bks", name: "Standart series",
newPrice: "14 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 4", model: "ad810-bks", name: "Standart series",
newPrice: "15 350", oldPrice: "16 350"},
{href: "#", src: "img/ad810-bks.jpg", category: "Акустическая гитара 5", model: "ad810-bks", name: "Standart series",
newPrice: "16 350", oldPrice: "16 350"}
]%}

{% set popCategory = [
{href: "#", src: "img/classic.jpg", name: "Классические гитары"},
{href: "#", src: "img/keyboards.jpg", name: "Синтезаторы"},
{href: "#", src: "img/electric.jpg", name: "Эллектрогитары"},
{href: "#", src: "img/amplifier.jpg", name: "Усилители"},
{href: "#", src: "img/classic.jpg", name: "Классические гитары"},
{href: "#", src: "img/keyboards.jpg", name: "Синтезаторы"},
{href: "#", src: "img/electric.jpg", name: "Эллектрогитары"},
{href: "#", src: "img/amplifier.jpg", name: "Усилители"}
]%}

{% set popItems = [
{href: "#", src: "img/pop-items1.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items2.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items3.jpg", name: "185-STAY 1100/02 Slim <br> Стойка-колонна для клавишная",
oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items4.jpg", name: "438PIA0703 Stage Studio <br> Цифровое пианино, черное", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items1.jpg", name: "011C Гитара <br> классическая 4/4, Doff", newPrice: "15 980", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items2.jpg", name: "011C Гитара <br> классическая 4/4, Doff", oldPrice:
"18 980", typeDiscout: "sale", newPrice: "15 980"},
{href: "#", src: "img/pop-items3.jpg", name: "185-STAY 1100/02 Slim <br> Стойка-колонна для клавишная", oldPrice:
"18 980", typeDiscout: "", newPrice: ""},
{href: "#", src: "img/pop-items4.jpg", name: "438PIA0703 Stage Studio <br> Цифровое пианино, черное", oldPrice:
"18 980", typeDiscout: "", newPrice: ""}
]%}

{% set toolsTypeStrings = [
{category: "Классические гитары"}, {category: "Акустические гитары"}, {category: "Акустические бас-гитары"}, {category:
"Электрогитары"}, {category: "Бас-гитары"}, {category: "Укулеле"}
]%}

{% set toolsTypeKeyboards = [
{category: "Синтезаторы"}, {category: "Цифровые пианино"}, {category: "Цифровые органы"}, {category:
"Акустические клавишные инструменты"}, {category: "MIDI-клавиатуры"}
]%}

{% set toolsTypeDrum = [
{category: "Акустические ударные"}, {category: "Электронные ударные"}, {category: "Тарелки"}, {category:
"Стойки"}, {category: "Рамы"}, {category: "Педали"}
]%}

{% set toolsTypeBrass = [
{category: "Блок-флейты"}, {category: "Флейты"}, {category: "Саксофоны"}, {category:
"Кларнеты"}, {category: "Трубы"}, {category: "Трамбоны"}
]%}

{% set toolsTypeTongue = [
{category: "Блок-флейты"}, {category: "Флейты"}, {category: "Саксофоны"}, {category:
"Кларнеты"}, {category: "Трубы"}, {category: "Трамбоны"}
]%}

{% set suggestion = [
{position: "left", name: "Selmer Super Action 80", category: "Саксофон", price: "16 450", src:
"img/selmer-super-action-80.jpg", href: "#"},
{position: "center", name: "CASIO CDP 320k", category: "Электронное пианино", price: "38 890", src:
"img/casio-cdp-320k.jpg", href: "#"},
{position: "right", name: "Ibanez RG450 Japan 2001", category: "Электрогитара", price: "49 990", src:
"img/ibanez-rg450.jpg", href: "#"}
]%}




{% block content %}

<main class="container">
  <section class="promo-wrap">
    <div class="promo-slider glide">
      <div div class="glide__track" data-glide-el="track">
        <ul class="glide__slides promo">
          {% for item in promo %}
          {{ variable.promoItem(item.href, item.src, item.category, item.model, item.name, item.newPrice,
          item.oldPrice) }}
          {% endfor %}
        </ul>

        <div class="glide__bullets glide__bullets--promo" data-glide-el="controls[nav]">
          <button class="glide__bullet glide__bullet--promo" data-glide-dir="=0"></button>
          <button class="glide__bullet glide__bullet--promo" data-glide-dir="=1"></button>
          <button class="glide__bullet glide__bullet--promo" data-glide-dir="=2"></button>
          <button class="glide__bullet glide__bullet--promo" data-glide-dir="=3"></button>
          <button class="glide__bullet glide__bullet--promo" data-glide-dir="=4"></button>
        </div>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--promo glide__arrow--left" data-glide-dir="<">
            <svg class="glide__icon--left icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--promo glide__arrow--right" data-glide-dir=">">
            <svg class="glide__icon--right icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="pop-category-wrap">
    <h2 class="pop-category-wrap__tittle">Популярные категории</h2>
    <div class="pop-category-slider glide">
      <div div class="glide__track" data-glide-el="track">
        <ul class="glide__slides pop-category">
          {% for item in popCategory %}
          {{ variable.popCategoryItem(item.href, item.src, item.name) }}
          {% endfor %}
        </ul>
        <div class="glide__arrows glide__arrows--pop-cat" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--pop glide__arrow--left" data-glide-dir="<">
            <svg class="glide__icon--left icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--pop glide__arrow--right" data-glide-dir=">">
            <svg class="glide__icon--right icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
        </div>
        <div class="glide__bullets glide__bullets--pop glide__bullets--pop-cat" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
          <button class="glide__bullet" data-glide-dir="=3"></button>
          <button class="glide__bullet" data-glide-dir="=4"></button>
        </div>
      </div>
    </div>
  </section>

  <section class="pop-items-wrap">
    <h2 class="pop-items-wrap__tittle">Популярные товары</h2>
    <div class="pop-items-slider glide">
      <div div class="glide__track" data-glide-el="track">
        <ul class="glide__slides pop-items">
          {% for item in popItems %}
          {{ variable.popItem(item.href, item.src, item.name, item.oldPrice, item.typeDiscout, item.newPrice) }}
          {% endfor %}
        </ul>
        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--pop glide__arrow--left" data-glide-dir="<">
            <svg class="glide__icon--left icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--pop glide__arrow--right" data-glide-dir=">">
            <svg class="glide__icon--right icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
        </div>
        <div class="glide__bullets glide__bullets--pop" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
          <button class="glide__bullet" data-glide-dir="=3"></button>
          <button class="glide__bullet" data-glide-dir="=4"></button>
        </div>
      </div>
    </div>
  </section>

  <section class="tools-type-wrap">
    <h2 class="tools-type-wrap__tittle">Инструменты по видам</h2>

    <div class="tools-type-slider glide">
      <div div class="glide__track" data-glide-el="track">
        <ul class="glide__slides tools-type">
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-guitar">
                  <use xlink:href='img/svg/sprite.svg#type-guitar'></use>
                </svg>
                <tittle class="tools-type__tittle">Струнные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeStrings %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-keyboards">
                  <use xlink:href='img/svg/sprite.svg#type-keyboards'></use>
                </svg>
                <tittle class="tools-type__tittle">Клавишные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeKeyboards %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-drum">
                  <use xlink:href='img/svg/sprite.svg#type-drum'></use>
                </svg>
                <tittle class="tools-type__tittle">Ударные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeDrum %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-brass">
                  <use xlink:href='img/svg/sprite.svg#type-brass'></use>
                </svg>
                <tittle class="tools-type__tittle">Духовые</tittle>
              </a>

              <ul class="tools-type__group">
                {% for item in toolsTypeBrass %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-tongue">
                  <use xlink:href='img/svg/sprite.svg#type-tongue'></use>
                </svg>
                <tittle class="tools-type__tittle">Язычковые</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeTongue %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-guitar">
                  <use xlink:href='img/svg/sprite.svg#type-guitar'></use>
                </svg>
                <tittle class="tools-type__tittle">Струнные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeStrings %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-keyboards">
                  <use xlink:href='img/svg/sprite.svg#type-keyboards'></use>
                </svg>
                <tittle class="tools-type__tittle">Клавишные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeKeyboards %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-drum">
                  <use xlink:href='img/svg/sprite.svg#type-drum'></use>
                </svg>
                <tittle class="tools-type__tittle">Ударные</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeDrum %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-brass">
                  <use xlink:href='img/svg/sprite.svg#type-brass'></use>
                </svg>
                <tittle class="tools-type__tittle">Духовые</tittle>
              </a>

              <ul class="tools-type__group">
                {% for item in toolsTypeBrass %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="tools-type__item">
            <div class="tools-type__section">
              <a href="#" class="tools-type__head-link">
                <svg class="tools-type__icon icon-type-tongue">
                  <use xlink:href='img/svg/sprite.svg#type-tongue'></use>
                </svg>
                <tittle class="tools-type__tittle">Язычковые</tittle>
              </a>
              <ul class="tools-type__group">
                {% for item in toolsTypeTongue %}
                {{ variable.toolsType(item.category) }}
                {% endfor %}
              </ul>
            </div>
          </li>
        </ul>
        <div class="glide__arrows  glide__arrows--tools-type" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--type glide__arrow--left" data-glide-dir="<">
            <svg class="glide__icon--left icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--type glide__arrow--right" data-glide-dir=">">
            <svg class="glide__icon--right icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>

        </div>
        <div class="glide__down-btn glide__down-btn--tools-type">
          <svg class="glide__icon--down icon-slider-link">
            <use xlink:href='img/svg/sprite.svg#slider-link'></use>
          </svg>
        </div>
        <div class="glide__bullets glide__bullets--tools-type" data-glide-el="controls[nav]">
          <button class="glide__bullet" data-glide-dir="=0"></button>
          <button class="glide__bullet" data-glide-dir="=1"></button>
          <button class="glide__bullet" data-glide-dir="=2"></button>
          <button class="glide__bullet" data-glide-dir="=3"></button>
          <button class="glide__bullet" data-glide-dir="=4"></button>
        </div>
      </div>
    </div>

  </section>

  <section class="suggestion-wrap">
    <div class="suggestion-slider glide">
      <div div class="glide__track" data-glide-el="track">
        <ul class="glide__slides suggestion">
          {% for item in suggestion %}
          {{ variable.suggestion(item.position, item.name, item.category, item.price, item.src, item.href) }}
          {% endfor %}
        </ul>
        <div class="glide__arrows glide__arrows--suggestion" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--pop glide__arrow--left" data-glide-dir="<">
            <svg class="glide__icon--left icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
          <button class="glide__arrow glide__arrow--pop glide__arrow--right" data-glide-dir=">">
            <svg class="glide__icon--right icon-slider-link">
              <use xlink:href='img/svg/sprite.svg#slider-link'></use>
            </svg>
          </button>
        </div>
        <div class="glide__bullets glide__bullets--suggestion" data-glide-el="controls[nav]">
          <button class="glide__bullet glide__bullet--suggestion" data-glide-dir="=0"></button>
          <button class="glide__bullet glide__bullet--suggestion" data-glide-dir="=1"></button>
          <button class="glide__bullet glide__bullet--suggestion" data-glide-dir="=2"></button>
          <button class="glide__bullet glide__bullet--suggestion" data-glide-dir="=3"></button>
          <button class="glide__bullet glide__bullet--suggestion" data-glide-dir="=4"></button>
        </div>
      </div>
    </div>
  </section>

  <section class="pop-brand">
    <h2 class="pop-brand__tittle">Популярные бренды</h2>
    <div class="pop-brand__content">
      <ul class="pop-brand__list">
        <li class="pop-brand__column">
          <tittle class="pop-brand__name">Струнные</tittle>
          <ul class="pop-brand__group">
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/yamaha.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/shure.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/casio.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/ibanez.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/korg.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
          </ul>
        </li>
        <li class="pop-brand__column">
          <tittle class="pop-brand__name">Клавишные</tittle>
          <ul class="pop-brand__group">
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/jbl.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/alice.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/allen-heath.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/audix.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/artur.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
          </ul>
        </li>
        <li class="pop-brand__column">
          <tittle class="pop-brand__name">Ударные</tittle>
          <ul class="pop-brand__group">
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/avid.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/art.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/amg.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/avagts.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/audio-tehnika.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
          </ul>
        </li>
        <li class="pop-brand__column">
          <tittle class="pop-brand__name">Духовые</tittle>
          <ul class="pop-brand__group">
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/shui-garmon.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/tule-garmon.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/mozer.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/xvive.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/viva-rhythm.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
          </ul>
        </li>
        <li class="pop-brand__column">
          <tittle class="pop-brand__name">Язычковые</tittle>
          <ul class="pop-brand__group">
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/ritmix.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/rombica.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/roland.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element">
              <a href="#" class="pop-brand__link">
                <img src="img/qumo.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
            <li class="pop-brand__element smal-none">
              <a href="#" class="pop-brand__link">
                <img src="img/pioneer.jpg" alt="" class="pop-brand__img">
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</main>

{% endblock %}